{% extends "AppNueva/Padre.html" %}



{% load static %}

{% block Titulo %}
<h1 class="mb-5"> Resueltados de tu busqueda. </h1>
{% endblock %}

{% block contenido_que_cambia %}

<center><h3>{{ mensaje }}</h3></center>

<br>

<br>

<h5 style="margin-left: 110px"> Lista de Estudiantes </h5>

<br>

{% for estudiante in estu %}
<h5 style="margin-left: 110px">{{ estudiante.nombre_estudiante }} - {{ estudiante.nombre_universidad }} - {{ estudiante.carrera }} - {{ estudiante.año_ingreso }}</h5>
{% endfor %}


{% endblock %}



